ul {
  list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 30px;
    align-items: center;
    background-color: #333333;
    padding: 2rem;
    margin: 0;
    
    
}
div {
width: 100%;

}
a, a:visited {
  color: #FF5733
}